@import '../../dist/ln-sass';

$base: (
  font-size: 14px,
  margin-x: 1rem,
  outer-right: 0.5rem,
  outer-left: 0.5rem,
  copy-width: 24rem,
  copy-columns: 5,
);

$media: (
  c4: (
    grid-columns: 4
  ),
  c6: (
    font-size: 16px,
    margin-x: 1.5rem,
    outer-right: 1rem,
    outer-left: 1rem,
    copy-width: 30rem,
    copy-columns: 5,
    grid-columns: 6
  ),
  c8: (
    font-size: 18px,
    grid-columns: 8
  ),
  c10: (
    font-size: 20px,
    margin-x: 2rem,
    outer-right: 2rem,
    outer-left: 2rem,
    grid-columns: 10
  ),
  c12: (
    copy-columns: 6,
    grid-columns: 12
  ),
);

/*
  normalize-media-breakpoints
  normalize-medium-values

 */


$reference: $base;
@each $m, $medium in $media {
  $reference: map-merge($reference, $medium);

  $font-size: map-get($reference, font-size);
  $margin-x: map-get($reference, margin-x);
  $outer-right: map-get($reference, outer-right);
  $outer-left: map-get($reference, outer-left);

  $copy-width: map-get($reference, copy-width);
  $copy-columns: map-get($reference, copy-columns);
  $grid-columns: map-get($reference, grid-columns);
  $text-col-ratio: $copy-columns/$grid-columns;

  $html-scale: $font-size / 16px;
  $content-width: ($copy-width + $margin-x) / $text-col-ratio - $margin-x;
  $breakpoint: unit-assert(($content-width + $outer-right + $outer-left) * $html-scale, em);

  $reference: map-merge($reference, (
    html-scale: $html-scale,
    content-width: $content-width,
    breakpoint: $breakpoint,
  ));
  $media: map-merge($media, ($m: $reference)) !global;
}
/* #{map-inspect($media)} */