/* test: scss-media-init */

@import '../../dist/sass-util';
@import '../../dist/sass-media';

$media: map-merge($media, (
  delta: (
    breakpoint: 30em,
    font-size: 40px
  )
));

$base: (
  font-size: 1,
  line-height: 1,
  page-left: 40px,

);

@include media-init();

/* $keys: #{map-keys($media)}; */
/* $base: #{inspect($base)}; */
/* $media: #{inspect($media)}; */
