doctype
html
    head
        link(rel="stylesheet" href="../global.css")
        link(rel="stylesheet" href="index.css")
        script(src="../global.js")
        block head
    body
        block body
        script(src="index.js")
