@media screen and (min-width: 20em) { }

.query-current-alias {
  debug: null; }

.base {
  debug: '(
    font-size 18px,
    line-height 1.4,
    margin-x (
      0.43933rem,
      0.49411rem,
      0.55571rem,
      0.625rem,
      0.70293rem,
      0.79057rem,
      0.88914rem,
      1rem,
      1.12468rem,
      1.26491rem,
      1.42262rem,
      1.6rem,
      1.79949rem,
      2.02386rem,
      2.2762rem,
      2.56rem,
      2.87919rem,
      3.23817rem,
      3.64192rem,
      4.096rem
    ),
    margin-y (
      0.87866rem,
      0.98821rem,
      1.11142rem,
      1.25rem,
      1.40585rem,
      1.58114rem,
      1.77828rem,
      2rem,
      2.24937rem,
      2.52982rem,
      2.84525rem,
      3.2rem,
      3.59898rem,
      4.04772rem,
      4.5524rem,
      5.12rem,
      5.75838rem,
      6.47634rem,
      7.28383rem,
      8.192rem
    ),
    body-top 2rem,
    body-right 2rem,
    body-bottom 2rem,
    body-left 2rem,
    html-scale 1.125
  )'; }

.query {
  debug: '(
    alpha (
      min-width 20em,
      line-height 1.5,
      html-scale 1.125,
      content-width 13.77778rem,
      font-size 18px,
      margin-x (
        0.43933rem,
        0.49411rem,
        0.55571rem,
        0.625rem,
        0.70293rem,
        0.79057rem,
        0.88914rem,
        1rem,
        1.12468rem,
        1.26491rem,
        1.42262rem,
        1.6rem,
        1.79949rem,
        2.02386rem,
        2.2762rem,
        2.56rem,
        2.87919rem,
        3.23817rem,
        3.64192rem,
        4.096rem
      ),
      margin-y (
        0.87866rem,
        0.98821rem,
        1.11142rem,
        1.25rem,
        1.40585rem,
        1.58114rem,
        1.77828rem,
        2rem,
        2.24937rem,
        2.52982rem,
        2.84525rem,
        3.2rem,
        3.59898rem,
        4.04772rem,
        4.5524rem,
        5.12rem,
        5.75838rem,
        6.47634rem,
        7.28383rem,
        8.192rem
      ),
      body-top 2rem,
      body-right 2rem,
      body-bottom 2rem,
      body-left 2rem,
      html-scale 1.125
    ),
    beta (
      min-width 30em,
      line-height 1.6,
      html-scale 1.125,
      content-width 22.66667rem,
      font-size 18px,
      margin-x 1rem,
      margin-y 2rem,
      body-top 2rem,
      body-right 2rem,
      body-bottom 2rem,
      body-left 2rem,
      html-scale 1.125
    ),
    gamma (
      min-width 48em,
      font-size 20px,
      html-scale 1.25,
      content-width 34.4rem,
      line-height 1.6,
      margin-x 1rem,
      margin-y 2rem,
      body-top 2rem,
      body-right 2rem,
      body-bottom 2rem,
      body-left 2rem,
      html-scale 1.125
    ),
    delta (
      min-width 64em,
      html-scale 1.25,
      content-width 47.2rem,
      font-size 20px,
      line-height 1.6,
      margin-x 1rem,
      margin-y 2rem,
      body-top 2rem,
      body-right 2rem,
      body-bottom 2rem,
      body-left 2rem,
      html-scale 1.125
    ),
    epsilon (
      min-width 80em,
      html-scale 1.25,
      content-width 60rem,
      font-size 20px,
      line-height 1.6,
      margin-x 1rem,
      margin-y 2rem,
      body-top 2rem,
      body-right 2rem,
      body-bottom 2rem,
      body-left 2rem,
      html-scale 1.125
    )
  )'; }
