.size-and-margin-3 {
  debug: 'hello world';
  margin-neg-2: 0.5rem;
  margin-neg-1: 0.70711rem;
  margin-0: 1rem;
  margin-1: 1.41421rem;
  margin-2: 2rem;
  margin-3: 2.82843rem;
  margin-4: 4rem;
  margin-5: 5.65685rem;
  margin-6: 8rem;
  size-neg-2: 0.5rem;
  size-neg-1: 0.70711rem;
  size-0: 1rem;
  size-1: 1.41421rem;
  size-2: 2rem;
  size-3: 2.82843rem;
  size-4: 4rem;
  size-5: 5.65685rem;
  size-6: 8rem; }

.query {
  debug: '(
    alpha (
      min-width 20em,
      font-size (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      line-height 1.4,
      margin-x (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      margin-y (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      body-top 0,
      body-right 1rem,
      body-bottom 1rem,
      body-left 1rem,
      html-scale 1,
      content-width 18rem
    ),
    beta (
      min-width 30em,
      font-size (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      line-height 1.4,
      margin-x (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      margin-y (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      body-top 0,
      body-right 1rem,
      body-bottom 1rem,
      body-left 1rem,
      html-scale 1,
      content-width 28rem
    ),
    gamma (
      min-width 48em,
      font-size (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      line-height 1.4,
      margin-x (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      margin-y (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      body-top 0,
      body-right 1rem,
      body-bottom 1rem,
      body-left 1rem,
      html-scale 1,
      content-width 46rem
    ),
    delta (
      min-width 64em,
      font-size (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      line-height 1.4,
      margin-x (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      margin-y (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      body-top 0,
      body-right 1rem,
      body-bottom 1rem,
      body-left 1rem,
      html-scale 1,
      content-width 62rem
    ),
    epsilon (
      min-width 80em,
      font-size (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      line-height 1.4,
      margin-x (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      margin-y (
        0.42045rem,
        0.5rem,
        0.5946rem,
        0.70711rem,
        0.8409rem,
        1rem,
        1.18921rem,
        1.41421rem,
        1.68179rem,
        2rem,
        2.37841rem,
        2.82843rem,
        3.36359rem,
        4rem,
        4.75683rem,
        5.65685rem,
        6.72717rem,
        8rem,
        9.51366rem,
        11.31371rem
      ),
      body-top 0,
      body-right 1rem,
      body-bottom 1rem,
      body-left 1rem,
      html-scale 1,
      content-width 78rem
    )
  )'; }
