/* test: scss-media-init */

@import '../../src/sass-util';
@import '../../src/sass-media';

$media: map-merge($media, (
  delta: (
    breakpoint: 30em,
    font-size: 40px
  )
));

$base: (
  font-size: 1,
  line-height: 1,
  page-left: 40px,

);

@include media-init();

/* $keys: #{map-keys($media)}; */
/* $base: #{_inspect($base)}; */
/* $media: #{_inspect($media)}; */
