/* test: scss-media-init */
html {
  font-size: 1em; }

body {
  line-height: 1; }

body::before {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  content: 'base'; }

head {
  font-family: 'base'; }

.u-media-trans {
  width: 0px;
  transition: width 1ms; }

@media (min-width: 20em) {
  body::before {
    content: "alpha"; }
  head {
    font-family: "alpha"; }
  .u-media-trans {
    width: 1px; }
  html {
    font-size: 1em; }
  body {
    line-height: 1; } }

@media (min-width: 30em) {
  body::before {
    content: "beta"; }
  head {
    font-family: "beta"; }
  .u-media-trans {
    width: 0px; }
  html {
    font-size: 1em; }
  body {
    line-height: 1; } }

@media (min-width: 48em) {
  body::before {
    content: "gamma"; }
  head {
    font-family: "gamma"; }
  .u-media-trans {
    width: 1px; }
  html {
    font-size: 1em; }
  body {
    line-height: 1; } }

@media (min-width: 30em) {
  body::before {
    content: "delta"; }
  head {
    font-family: "delta"; }
  .u-media-trans {
    width: 0px; }
  html {
    font-size: 2.5em; }
  body {
    line-height: 1; } }

@media (min-width: 80em) {
  body::before {
    content: "epsilon"; }
  head {
    font-family: "epsilon"; }
  .u-media-trans {
    width: 1px; }
  html {
    font-size: 2.5em; }
  body {
    line-height: 1; } }

/* $keys: alpha, beta, gamma, delta, epsilon; */
/* $base: (
    font-size: 16px,
    line-height: 1,
    font-size-mod: 1.5,
    margin-x: 1rem,
    margin-x-mod: 2,
    margin-y: 1rem,
    margin-y-mod: 2,
    page-top: 1rem,
    page-right: 1rem,
    page-bottom: 1rem,
    page-left: 2.5rem,
    html-scale: 1
  ); */
/* $media: (
    alpha: (
      font-size: 16px,
      line-height: 1,
      font-size-mod: 1.5,
      margin-x: 1rem,
      margin-x-mod: 2,
      margin-y: 1rem,
      margin-y-mod: 2,
      page-top: 1rem,
      page-right: 1rem,
      page-bottom: 1rem,
      page-left: 2.5rem,
      html-scale: 1,
      breakpoint: 20em,
      body-width: 20rem,
      content-width: 16.5rem
    ),
    beta: (
      font-size: 16px,
      line-height: 1,
      font-size-mod: 1.5,
      margin-x: 1rem,
      margin-x-mod: 2,
      margin-y: 1rem,
      margin-y-mod: 2,
      page-top: 1rem,
      page-right: 1rem,
      page-bottom: 1rem,
      page-left: 2.5rem,
      html-scale: 1,
      breakpoint: 30em,
      body-width: 30rem,
      content-width: 26.5rem
    ),
    gamma: (
      font-size: 16px,
      line-height: 1,
      font-size-mod: 1.5,
      margin-x: 1rem,
      margin-x-mod: 2,
      margin-y: 1rem,
      margin-y-mod: 2,
      page-top: 1rem,
      page-right: 1rem,
      page-bottom: 1rem,
      page-left: 2.5rem,
      html-scale: 1,
      breakpoint: 48em,
      body-width: 48rem,
      content-width: 44.5rem
    ),
    delta: (
      font-size: 40px,
      line-height: 1,
      font-size-mod: 1.5,
      margin-x: 1rem,
      margin-x-mod: 2,
      margin-y: 1rem,
      margin-y-mod: 2,
      page-top: 1rem,
      page-right: 1rem,
      page-bottom: 1rem,
      page-left: 2.5rem,
      html-scale: 2.5,
      breakpoint: 30em,
      body-width: 12rem,
      content-width: 8.5rem
    ),
    epsilon: (
      font-size: 40px,
      line-height: 1,
      font-size-mod: 1.5,
      margin-x: 1rem,
      margin-x-mod: 2,
      margin-y: 1rem,
      margin-y-mod: 2,
      page-top: 1rem,
      page-right: 1rem,
      page-bottom: 1rem,
      page-left: 2.5rem,
      html-scale: 2.5,
      breakpoint: 80em,
      body-width: 32rem,
      content-width: 28.5rem
    )
  ); */
