// SELECTOR MIXINS

@mixin adjacent($siblings, $items) {
  $out: '';
  @for $k from 1 through length($items) {
    @for $n from 1 through length($siblings) {
      $out: if(
        $n == 1 and $k == 1,
        unquote('#{nth($siblings, $n)} + #{nth($items, $k)}'),
        append($out, unquote(', #{nth($siblings,$n)} + #{nth($items, $k)}'))
      );
    }
  }
  #{$out} { @content; }
}

@mixin adjacent-to($args...) {
  @if length($args) == 0 {
    & + & { @content; }
  } @else {
    @if type-of(nth($args, 1)) == list { $args: join((), $args...); }
    $arr: '';
    @for $n from 1 through length($args) {
      $arr: if($n == 1, unquote('#{nth($args, 1)} + &'), append($arr, unquote(', #{nth($args,$n)} + &')));
    }
    #{$arr} { @content; }
  }
}
