
@mixin child-counter($child-selector: '> li', $content-before:'', $content-after:''){
  $counter: unique-id();
  list-style-type: none;
  counter-reset: $counter;
  & #{$child-selector} {
    counter-increment: $counter;
    &:before {
      content: '#{$content-before}' counter($counter) '#{$content-after}';
      @content;
    }
  }
}