//                  _   _
//                 | | | |
//  _ __ ___   __ _| |_| |__
// | '_ ` _ \ / _` | __| '_ \
// | | | | | | (_| | |_| | | |
// |_| |_| |_|\__,_|\__|_| |_|

@function mscale($index, $factor, $spread) { @return pow($factor, $index/$spread); }

@function mod-scale($base, $exp, $spread) { @return pow($base, $exp/$spread); }

@function trend($value, $basis: (0 0, 1 1)) {
  $c1: nth($basis, 1); $c2: nth($basis, 2);
  $x1: nth($c1, 1); $y1: nth($c1, 2);
  $x2: nth($c2, 1); $y2: nth($c2, 2);
  $m: ($y2 - $y1) / ($x2 - $x1);
  @return $y1 + $m * ($value - $x1);
}

@function gcd($a, $b) {
  @if $b == 0 { @return abs($a); }
  @return gcd($b, $a % $b);
}

@function reduce($n, $d) {
  $g: gcd($n, $d);
  @return ($n/$g, $d/$g)
}
