//            _
//           (_)
//  _ __ ___  _ ___  ___
// | '_ ` _ \| / __|/ __|
// | | | | | | \__ \ (__
// |_| |_| |_|_|___/\___|


// output stringified number w/ suffix e.g. 1st 2nd 3rd 4th
// not compatible with libsass
// @function enum($n) {
//   $h: abs($n) % 100; $t: $h % 10;
//   @if $h > 3 and $h < 21 { @return #{$n}th; }
//   @return #{$n}#{if($h == 1, 'st', if($t == 2, 'nd', if($t == 3, 'rd', 'th')))};
// }

@function opposite($dirs) {
  $out: ();
  $opposites: ('top': bottom, 'right': left, 'bottom': top, 'left': right, 'ltr': rtl, 'rtl': ltr);
  @each $dir in $dirs {
    $opposite: map-get($opposites, $dir);
    @if $opposite {$out: append($out, $opposite); } }
  @return $out;
}

@mixin adjacent-to($args...) {
  @if length($args) == 0 {
    & + & { @content; }
  } @else {
    @if type-of(nth($args, 1)) == list { $args: join((), $args...); }
    $arr: '';
    @for $n from 1 through length($args) {
      $arr: if($n == 1, unquote('#{nth($args, 1)} + &'), append($arr, unquote(', #{nth($args,$n)} + &')));
    }
    #{$arr} { @content; }
  }
}