extends ../_layout.jade
block body

    .proof

        .wrap(class="pink")

            //- p unwrap
            //- .unwrap(class="shaded"): p This unwraps to the width of container / page
            //- .unwrap-right(class="shaded"): p This unwraps to the right of container / page
            //- .unwrap-left(class="shaded"): p This unwraps to the left of container / page

            p unwrap-full
            .unwrap-full(class="shaded"): p This unwraps to full width of the viewport
            .unwrap-full-right(class="shaded"): p This unwraps to the right of viewport
            .unwrap-full-left(class="shaded"): p This unwraps to the left of the viewport

        .wrap.wrap-left(class="pink")

            //- p wrap-left &rarr; unwrap
            //- .unwrap(class="shaded"): p This unwraps to the width of container / page
            //- .unwrap-right(class="shaded"): p This unwraps to the right of container / page
            //- .unwrap-left(class="shaded"): p This unwraps to the left of container / page

            p wrap-left &rarr; unwrap-full
            .unwrap-full(class="shaded"): p This unwraps to full width of the viewport
            .unwrap-full-right(class="shaded"): p This unwraps to the right of viewport
            .unwrap-full-left(class="shaded"): p This unwraps to the left of the viewport

        .wrap.wrap-right(class="pink")

            //- p wrap-right &rarr; unwrap
            //- .unwrap(class="shaded"): p This unwraps to the width of container / page
            //- .unwrap-right(class="shaded"): p This unwraps to the right of container / page
            //- .unwrap-left(class="shaded"): p This unwraps to the left of container / page

            p wrap-right &rarr; unwrap-full
            .unwrap-full(class="shaded"): p This unwraps to full width of the viewport
            .unwrap-full-right(class="shaded"): p This unwraps to the right of viewport
            .unwrap-full-left(class="shaded"): p This unwraps to the left of the viewport
