//             _     _
//            (_)   | |
//   __ _ _ __ _  __| |
//  / _` | '__| |/ _` |
// | (_| | |  | | (_| |
//  \__, |_|  |_|\__,_|
//   __/ |
//  |___/

@import 'functions';
@import 'mixins';
@import 'debug';

@mixin class--grid($ns: '') {
  $ns: if(str-length($ns)>0, '#{$ns}-', '');

  #{base-class('#{$ns}grid')} { @include grid(false); }
  #{base-class('#{$ns}f-grid')} { @include f-grid(false); }

  .#{$ns}grid--null,
  .#{$ns}f-grid--null {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    & > * {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @include media-for('margin-x') {
    $mults: medium-value('mults-x') or medium-value('mults');

    @each $m, $mult in map-merge((base: 1), $mults) {
      $margin: $mult * medium-value('margin-x');

      #{mult-class('#{$ns}grid', $m)},
      #{mult-class('#{$ns}f-grid', $m)} {
        margin-left: $margin / -2;
        margin-right: $margin / -2;
        width: calc(100% + #{$margin});
        & > * {
          padding-left: $margin / 2;
          padding-right: $margin / 2;
        }
      }
    }
  }
}
