@import '../../dist/ln-sass';

$base: (
  font-size: 20px,
  line-height: 1.4,
  font-size-mod: 1.5,
  margin-y: 1.5rem
);

@include setup-media-object();

/* #{inspect($media)} */
.test {
  color: blue;
  @include media((to: gamma)) {
    color: red;
  }
}