// TYPO GLOBALS

$typo-curr-size: null !default;
$typo-curr-height: null !default;
$typo-curr-char-height: null !default;

$typo-min-height: 1.125 !default;
$typo-sub-lines: 2 !default;

$typo-pre: 't-' !default;

$typo-defaults: (
  'line-min-height': 1.125,
  'line-sub-div': 2
) !default;

$typo-classes: (
  single: 'single',
  block: 'block',
  container: 'container',
  line: 'line',
  trim: 'trim',
  trim-content: 'trim-content'
) !default;