//////////////////
// ITEM COUNTER //
//////////////////


@mixin item-counter($selector: null, $before:'', $after:''){
  $counter: unique-id();
  list-style-type: none;
  counter-reset: $counter;
  #{children($selector)} {
    counter-increment: $counter;
    &:before {
      content: '#{$before}' counter($counter) '#{$after}';
      @content;
    }
  }
}

