@font-face {
  font-family: "FamilyName";
  font-style: normal;
  font-weight: normal;
  src: url("path/to/fonts/normal-font-no-extension.eot");
  src: url("path/to/fonts/normal-font-no-extension.eot?#iefix") format("embedded-opentype"), url("path/to/fonts/normal-font-no-extension.woff") format("woff"), url("path/to/fonts/normal-font-no-extension.svg#normal-font-no-extension") format("svg"), url("path/to/fonts/normal-font-no-extension.ttf") format("truetype"); }

@font-face {
  font-family: "FamilyName";
  font-style: normal;
  font-weight: bold;
  src: url("path/to/fonts/bold-font-no-extension.eot");
  src: url("path/to/fonts/bold-font-no-extension.eot?#iefix") format("embedded-opentype"), url("path/to/fonts/bold-font-no-extension.woff") format("woff"), url("path/to/fonts/bold-font-no-extension.svg#bold-font-no-extension") format("svg"), url("path/to/fonts/bold-font-no-extension.ttf") format("truetype"); }

@font-face {
  font-family: "FamilyName";
  font-style: italic;
  font-weight: normal;
  src: url("path/to/fonts/italic-font-no-extension.eot");
  src: url("path/to/fonts/italic-font-no-extension.eot?#iefix") format("embedded-opentype"), url("path/to/fonts/italic-font-no-extension.woff") format("woff"), url("path/to/fonts/italic-font-no-extension.svg#italic-font-no-extension") format("svg"), url("path/to/fonts/italic-font-no-extension.ttf") format("truetype"); }

.font--base {
  font-family: "FamilyName"; }

.trim--content {
  padding-top: 1px;
  padding-bottom: 1px; }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0; }
  p.line {
    line-height: 1; }
  p.trim--top {
    margin-top: -0.25em; }
  p.trim--bottom {
    margin-bottom: -0.25em; }
  p.trim--both {
    margin-top: -0.25em;
    margin-bottom: -0.25em; }
  .trim--content p {
    margin-bottom: -0.25em;
    margin-top: 1rem; }
    .trim--content p:first-child {
      margin-top: -0.25em; }

h1 {
  font-size: 3.375rem;
  line-height: 1.1851851852;
  margin-top: 0;
  margin-bottom: 0; }
  h1.line {
    line-height: 1; }
  h1.trim--top {
    margin-top: -0.0925925926em; }
  h1.trim--bottom {
    margin-bottom: -0.0925925926em; }
  h1.trim--both {
    margin-top: -0.0925925926em;
    margin-bottom: -0.0925925926em; }
  .trim--content h1 {
    margin-bottom: -0.0925925926em;
    margin-top: 1rem; }
    .trim--content h1:first-child {
      margin-top: -0.0925925926em; }

h2 {
  font-size: 2.25rem;
  line-height: 1.3333333333;
  margin-top: 0;
  margin-bottom: 0; }
  h2.line {
    line-height: 1; }
  h2.trim--top {
    margin-top: -0.1666666667em; }
  h2.trim--bottom {
    margin-bottom: -0.1666666667em; }
  h2.trim--both {
    margin-top: -0.1666666667em;
    margin-bottom: -0.1666666667em; }
  .trim--content h2 {
    margin-bottom: -0.1666666667em;
    margin-top: 1rem; }
    .trim--content h2:first-child {
      margin-top: -0.1666666667em; }

h3 {
  font-size: 2.25rem;
  line-height: 1.3333333333;
  margin-top: 0;
  margin-bottom: 0; }
  h3.line {
    line-height: 1; }
  h3.trim--top {
    margin-top: -0.1666666667em; }
  h3.trim--bottom {
    margin-bottom: -0.1666666667em; }
  h3.trim--both {
    margin-top: -0.1666666667em;
    margin-bottom: -0.1666666667em; }
  .trim--content h3 {
    margin-bottom: -0.1666666667em;
    margin-top: 1rem; }
    .trim--content h3:first-child {
      margin-top: -0.1666666667em; }

ul {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0; }
  ul.line {
    line-height: 1; }
  ul.trim--top {
    margin-top: -0.25em; }
  ul.trim--bottom {
    margin-bottom: -0.25em; }
  ul.trim--both {
    margin-top: -0.25em;
    margin-bottom: -0.25em; }
  .trim--content ul {
    margin-bottom: -0.25em;
    margin-top: 1rem; }
    .trim--content ul:first-child {
      margin-top: -0.25em; }
  h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul {
    margin-top: 0.25em; }
