
@import '../../dist/ln-util/all';
@import '../../dist/ln-media/all';

@import "../../dist/ln-typo/ln-typo-base";
@import "../../dist/ln-typo/ln-typo-util";
@import "../../dist/ln-typo/ln-typo-main";
// @import "../../dist/ln-typo/ln-typo-main-beta";
@import "../../dist/ln-typo/ln-typo-font";

$media: map-merge($media, (
  delta: (
    breakpoint: 30em,
    margin-y: 2.5rem,
    font-size: 40px
  )
));

$base: (
  font-size: 1,
  line-height: 1,
  page-left: 40px,

);

@include setup-media-object();
@include setup-typo();

p { @include typo(); }
h1 { @include typo(5); }
h2 { @include typo(4); }
h3 { @include typo(3); }
ul {
  @include typo() {
    @include adjacent-to(h1 h2 h3 h4 h5) {
      // margin-top: trim-margin(0rem);
      margin-top: trim-height();
    }
  }
}
