@import '../../dist/ln-sass';

$fonts: (
  base: (
    family: 'Circular',
    path: 'assets/fonts/',
    files: (
      (name: 'lineto-circular-book'),
      (name: 'lineto-circular-bold', weight: bold)
    ),
    spacing: 0,
    size-mod: 1,
    cap-height: 1
  )
);

$base: (
  font-size: 20px,
  line-height: 1.4,
  font-size-mod: 1.5,
  margin-y: 1.5rem
);

@include reset-all();
@include setup-typo();
@include setup-media();
@include setup-layout();

.test-area {
  @include typo-scope() {

    .content-item {
      // background-color: set-alpha(lightblue, 0.25);
      @include t-margin-top(1);
      & > .termine-heading, & > .termine-listing {
        @include t-margin-top(1)
      }
    }

    .termin {
      // background-color: set-alpha(pink, 0.25);
      @include t-margin-top(0.5);
      .meta, .main {
        @include typo-scope(0.8rem) {

        }
      }
    }

  }
}

// .content-item {
//   background-color: lightblue;
// }









// ul.no-style {
//     list-style: none;
//     padding: 0;
// }
// .test-area {
//     ul {
//         list-style: none;
//     }
// }