

@import '../../src/ln-util/all';
@import '../../src/ln-media/all';
@import '../../src/ln-typo/all';

$media: map-merge($media, (
  delta: (
    breakpoint: 30em,
    margin-y: 2.5rem,
    font-size: 40px
  )
));

$base: (
  font-size: 1,
  line-height: 1,
  page-left: 40px,

);

$mixins: ();

@mixin test($arg: 0) {

  $id: get($mixins, 'test', $arg);

  @if not $id {
    $id: unique-id();
    $mixins: merge($mixins, 'test', $arg, $id) !global;
    @at-root %#{$id} {
      margin: $arg + em;
    }
  }
  @extend %#{$id};
}

// TESTS

.test {
  @include test(2);
}

.test2 {
  @include test(2);
}

.test3 {
  @include test(2);
}
