extends ../_layout.jade
block body

    .wrap
        .row
            .block  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique laudantium ut aliquam et, architecto inventore iure iste ex totam, consequuntur illo odit vero voluptatem eveniet illum delectus. Nisi similique, quidem.
            .block  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique laudantium ut aliquam et, architecto inventore iure iste ex totam, consequuntur illo odit vero voluptatem eveniet illum delectus. Nisi similique, quidem.
            .block  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique laudantium ut aliquam et, architecto inventore iure iste ex totam, consequuntur illo odit vero voluptatem eveniet illum delectus. Nisi similique, quidem.
            .block  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique laudantium ut aliquam et, architecto inventore iure iste ex totam, consequuntur illo odit vero voluptatem eveniet illum delectus. Nisi similique, quidem.
            .block  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique laudantium ut aliquam et, architecto inventore iure iste ex totam, consequuntur illo odit vero voluptatem eveniet illum delectus. Nisi similique, quidem.
            .block  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique laudantium ut aliquam et, architecto inventore iure iste ex totam, consequuntur illo odit vero voluptatem eveniet illum delectus. Nisi similique, quidem.
            .block  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique laudantium ut aliquam et, architecto inventore iure iste ex totam, consequuntur illo odit vero voluptatem eveniet illum delectus. Nisi similique, quidem.