extends ../_layout.jade
block body
  .page--x
    .wrap--beta-to
      .grid.span-1
        .cell
          .debug
      .grid.span-2
        .cell
          .debug
        .cell
          .debug
      .grid.span-3
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
      .grid.span-4
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
      .grid.span-6
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
      .grid.span-8
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
      .grid.span-12
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
        .cell
          .debug
