@import '../../dist/ln-sass';

// @include reset-ln();

// body styles to visualize page-right/-left
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  // border-right: $page-right solid transparentize(lightblue,0.5);
  // border-left: $page-left solid transparentize(lightblue,0.5);
}


// temp / test styles
div { padding: 1px 0; margin-top: 0.25em; margin-bottom: 0.25em; }
p { margin-top: 0.25em; margin-bottom: 0.25em; }
.line { height: 0; border-bottom: 1px solid black; margin: 1rem 0 2rem; }
.pink { max-width: 48rem; background-color: pink; }
.shaded { background-color: rgba(50,50,50,0.75); color: whitesmoke; }

@include setup-media();
@include setup-layout();