@import '../../dist/ln-resets/all';
@include reset-ln();

/*

scheme for proof of concept

- set html font-size to (100vw - 20px)/100
- set body padding to 10px all directions
- use rem wherever you would use vw

*/



// VARIABLES
$proof-margin: 1rem;
$vp-inset-right: 10rem;
$vp-inset-left: 4rem;
$vp-inset: '(#{$vp-inset-right} + #{$vp-inset-left})';
$vp-offset: '(#{$vp-inset-right} - #{$vp-inset-left})';


body {
    margin: 0;
    padding: 0;
    border-right: $vp-inset-right solid transparentize(lightblue,0.5);
    border-left: $vp-inset-left solid transparentize(lightblue,0.5);
}

// WRAP

.wrap {
    margin-right: auto;
    margin-left: auto;
    &-right { margin-right: 0; }
    &-left { margin-left: 0; }
}

div { padding: 1px 0; margin-top: 0.25em; margin-bottom: 0.25em; }
p { margin-top: 0.25em; margin-bottom: 0.25em; }
// UNWRAP

// body/page padding, or anything else that affects 100vw reference
$offset-left: ($vp-inset-right - $vp-inset-left)/2;
$offset-right: ($vp-inset-left - $vp-inset-right)/2;

// STANDARD UNWRAP

.unwrap { // goood
    width: calc(100vw - #{$vp-inset});
    margin-right: calc((100% - 100vw + #{$vp-inset})/2);
    margin-left: calc((100% - 100vw + #{$vp-inset})/2);
    .wrap-right > & { // good
        margin-right: 0;
        margin-left: calc(100% - (100vw - #{$vp-inset}));
    }
    .wrap-left > & { // good
        margin-right: calc(100% - (100vw - #{$vp-inset}));
        margin-left: 0;
    }
}

.unwrap-right { // good
    width: calc((100vw + 100% - #{$vp-inset})/2);
    margin-right: calc((100% - 100vw + #{$vp-inset})/2);
    margin-left: 0;
    .wrap-left > & { // good
        width: calc(100vw - #{$vp-inset});
        margin-left: 0;
        margin-right: calc(100% - (100vw - #{$vp-inset}));
    }
    .wrap-right > & {
        // width: calc(100vw - #{$vp-inset});
        // margin-left: calc(100% - (100vw - #{$vp-inset}));
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

.unwrap-left { // good
    width: calc((100vw + 100% - #{$vp-inset})/2);
    margin-left: calc((100% - 100vw + #{$vp-inset})/2);
    margin-right: 0;
    .wrap-right > & { // good
        width: calc(100vw - #{$vp-inset});
        margin-right: 0;
        margin-left: calc(100% - (100vw - #{$vp-inset}));
    }
    .wrap-left > & { // good
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    // &.left {
    //     width: 100vw;
    //     margin-right: calc((100% - 100vw) + #{$offset-right});
    // }
    // &.right {
    //     width: calc(100% + #{$vp-inset-right + $vp-inset-left});
    //     margin-right: - $vp-inset-right;
    // }
}


.unwrap-full { // good
    width: 100vw;
    margin-left: calc((100% - 100vw + #{$vp-offset})/2);
    margin-right: calc((100% - 100vw - #{$vp-offset})/2);
    .wrap-left > & { // good
        margin-left: - $vp-inset-left;
        margin-right: calc(100% - (100vw - #{$vp-inset-left}));
    }
    .wrap-right > & { // good
        margin-right: - $vp-inset-right;
        margin-left: calc(100% - (100vw - #{$vp-inset-right}));
    }
}

.unwrap-full-right {
    width: calc((100vw + 100% + #{$vp-offset})/2);
    margin-right: calc((100% - 100vw - #{$vp-offset})/2);
    margin-left: 0;
    .wrap-left & {
        width: calc(100vw - #{$vp-inset-left});
        // margin-right: calc(100% - 100vw - #{$vp-offset});
        margin-right: calc((100% - 100vw) + #{$vp-inset-left});
    }
    .wrap-right > & { // good
        width: calc(100% + #{$vp-inset-right});
        margin-right: - $vp-inset-right;
    }
}

.unwrap-full-left {
    width: calc((100vw + 100% - #{$vp-offset})/2);
    margin-right: 0;
    margin-left: calc((100% - 100vw + #{$vp-offset})/2);
    .wrap-right & {
        width: calc(100vw - #{$vp-inset-right});;
        margin-left: calc((100% - 100vw) + #{$vp-inset-right});
    }
    .wrap-left > & { // good
        width: calc(100% + #{$vp-inset-left});
        margin-left: - $vp-inset-left;
    }
}

// TESTING STYLES

.pink {
    max-width: 30rem;
    background-color: pink;
}
.shaded {
//    min-height: 100px;
    background-color: rgba(50,50,50,0.75);
    color: whitesmoke;
}