@import '../../dist/ln-sass';

$fonts: (
  base: (
    family: 'Circular',
    path: 'assets/fonts/',
    files: (
      (name: 'lineto-circular-book'),
      (name: 'lineto-circular-bold', weight: bold)
    ),
    spacing: 0,
    char-height: 0.8
  )
);

$base: (
  font-size: 18px,
  line-height: 1.4,
  font-size-mod: 1.5,
  margin-y: 1rem
);

$media: (
  alpha: (breakpoint: 20em),
  beta: (
    breakpoint: 30em,
    // margin-y: 3rem
  ),
  gamma: (breakpoint: 48em),
  delta: (breakpoint: 64em),
  epsilon: (breakpoint: 80em)
);


@include reset-ln();
@include reset-meyer();
@include setup-fonts();
@include setup-media();
@include setup-layout();

body { font-family: 'Circular'; }

.content {
  background-color: set-alpha(pink, 0.25);
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

$p-blocks: p ul ol;
$h-blocks: h1 h2 h3 h4 h5 h6;

#{zip($h-blocks)} { font-weight: bold; }

@include media((for: margin-y line-height font-size)) {

  h1 { @include mod-typo-block(4) { @include adjacent-to($p-blocks){ margin-top: margin-y(2); } } }
  h2 { @include mod-typo-block(2) { @include adjacent-to($p-blocks){ margin-top: margin-y(2); } } }
  h3 { @include mod-typo-block(1) { @include adjacent-to($p-blocks){ margin-top: margin-y(2); } } }
  h4 { @include mod-typo-block(0) { @include adjacent-to($p-blocks){ margin-top: margin-y(2); } } }
  h5 { @include mod-typo-block(-0.75) { @include adjacent-to($p-blocks){ margin-top: margin-y(2); } } }
  h6 { @include mod-typo-block(-0.5) { @include adjacent-to($p-blocks){ margin-top: margin-y(2); } } }

  p {
    @include typo-block() {
      @include adjacent-to(p) {
        margin-top: trim-height();
        text-indent: 2em;
      }
    }
  }

  ul, ol, dl, table {
    @include typo-block() {
    }
  }

}


// ul { @extend %p; }


// .content-item {
//   background-color: lightblue;
// }









// ul.no-style {
//     list-style: none;
//     padding: 0;
// }
// .test-area {
//     ul {
//         list-style: none;
//     }
// }