/* test: scss-media-init */
.page-top {
  padding-top: 1.5rem; }

.page-right {
  padding-right: 1rem; }

.page-bottom {
  padding-bottom: 1.5rem; }

.page-left {
  padding-left: 1rem; }

.page-x {
  padding-left: 1rem;
  padding-right: 1rem; }

.page-y {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.wrap, .wrap--left, .wrap--right {
  margin-left: auto;
  margin-right: auto; }

.wrap--left {
  margin-left: 0; }

.wrap--right {
  margin-right: 0; }

.sect {
  padding-top: 1.5rem; }
