//            _
//           | |
//   ___ ___ | | ___  _ __ ___
//  / __/ _ \| |/ _ \| '__/ __|
// | (_| (_) | | (_) | |  \__ \
//  \___\___/|_|\___/|_|  |___/

////////////
// GLOBAL //
////////////

$colors: (

  body: black,
  body_bg: white,
  link: blue,
  link--active: red,
  link_bg: null,
  link_bg--active: null,

) !default;

$color-keys: map-keys($colors);

//////////////
// FUNCTION //
//////////////

@function color($key) {
  $value: map-get($colors, $key);
  @return if(index($color-keys, $value), color($value), $value);
}

///////////
// MIXIN //
///////////

@mixin parse-colors($output: true) {}