//            _
//           | |
//   ___ ___ | | ___  _ __ ___
//  / __/ _ \| |/ _ \| '__/ __|
// | (_| (_) | | (_) | |  \__ \
//  \___\___/|_|\___/|_|  |___/

$colors: (

  // color names

  // semantic names

  body_bg: '',
  body: '',
  link_bg: '',
  link: '',
  link_bg-active: '',
  link-active: '',

  bg-base: white,
  txt-base: black,
  txt-link: velvet-eggplant

) !default;

$color-keys: map-keys($colors);

@function color($key) {
  $value: map-get($colors, $key);
  @return if(index($color-keys, $value), color($value), $value);
}
