//        _   _ _        _                         _
//       | | (_) |      | |                       | |
//  _   _| |_ _| |______| | __ _ _   _  ___  _   _| |_
// | | | | __| | |______| |/ _` | | | |/ _ \| | | | __|
// | |_| | |_| | |      | | (_| | |_| | (_) | |_| | |_
//  \__,_|\__|_|_|      |_|\__,_|\__, |\___/ \__,_|\__|
//                                __/ |
//                               |___/

/////////////
// Z-INDEX //
/////////////

$z-indexes: (
  over: 30,
  page: 20,
  under: 10,
  body: 0
);

@function z($name) { @return map-get($z-indexes, $name); }

/////////////////
// POSITIONING //
/////////////////

@mixin position($pos, $args...) {
  position: $pos;
  @each $arg in $args { #{nth($arg, 1)}: nth($arg, 2); }
}
@mixin absolute($args...) { @include position(absolute, $args...); }
@mixin fixed($args...) { @include position(fixed, $args...); }
@mixin relative($args...) { @include position(relative, $args...); }

@mixin clearfix() {
  &:after { content:""; display: table; clear: both; }
}
// alias
@mixin cf() { @include clearfix(); }

@mixin clearfix-old(){
  & { *zoom: 1; }
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

//////////////////
// CHILD LAYOUT //
//////////////////

// http://nicolasgallagher.com/an-introduction-to-css-pseudo-element-hacks/
// http://css-tricks.com/pseudo-element-roundup/

// table-layout - CSS | MDN | https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout
// Fixed Table Layouts | CSS-Tricks | http://css-tricks.com/fixing-tables-long-strings/
// ungrid - the simplest responsive css grid | https://chrisnager.github.io/ungrid/
// Pure CSS, equal-width navigation tabs | http://jsfiddle.net/csswizardry/zfSt4/

@function child-selector($selector) {
  @if $selector {
    @if str-index($selector, '&'){
      @return '#{$selector}';
    } @else {
      @return '& > #{$selector}';
    }
  } @else {
    @return '& > *';
  }
}

@mixin child-layout($selector, $type, $options...) {

  // TABLE
  @if index(table-cell table-row cell row, $type) {
    width: 100%; // force auto size of children
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    #{child-selector($selector)} {
      @if index(table-row row, $type) {
        display: table-row;
        height: auto; // base setting
        @if index($options, center) or index($options, centre) { text-align: center; }
        @else if index($options, right) { text-align: right;}
        @else { text-align: left; }
      }
      @else {
        display: table-cell;
        width: auto; // base setting
        @if index($options, bottom) { vertical-align: bottom; }
        @else if index($options, middle) { vertical-align: middle;}
        @else { vertical-align: top; }
      }
      overflow: hidden;
      @content;
    }
  }

  // INLINE BLOCK
  @else if index(inline-block iblock ib, $type) {
    font-size: 0px;
    @if index($options, justify) {
      text-align: justify;
      &:after, #{child-selector($selector)} {
        display: inline-block;
        max-width: 100%; // ff bug
        @if index($options, bottom) { vertical-align: bottom; }
        @else if index($options, middle) { vertical-align: middle;}
        @else { vertical-align: top; }
      }
      &:after {
        content: '';
        width: 100%;
      }
      #{child-selector($selector)} {
        font-size: 1rem;
        @content;
      }
    }
    @else {
      &:before, #{child-selector($selector)} {
        display: inline-block;
        max-width: 100%; // ff bug
        @if index($options, bottom) { vertical-align: bottom; }
        @else if index($options, top) { vertical-align: top;}
        @else { vertical-align: middle; }
      }
      &:before {
        content: '';
        height: 100%;
      }
      #{child-selector($selector)} {
        font-size: 1rem;
        @content;
      }
      @if index($options, left) { text-align: left; }
      @else if index($options, right) { text-align: right;}
      @else { text-align: center; }
    }
  }
}

////////////////////////////////////
// CSS PARALLAX  / Z DISPLACEMENT //
////////////////////////////////////

// basic param and function for displacement
$parallax-perspective: 10px; // nb this defines max positive displacement
@function offsetZ($z, $p: $parallax-perspective) {
  @if unitless($z) { @return translateZ($z); }
  @return translateZ($z) scale(1 - $z/$p);
}

// perspective rendered at container level; will be inherited
// height is full viewport, overflow-y allows scroll
// may need to be placed on the body element, for some browsers
@mixin parallax-base($height: 100vh) {
  perspective: $parallax-perspective;
  height: $height;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin: 100%; // fix webkit overflow bug
}

// preserve-3d prevents child layers of a group from being collapsed
// must not have overflow hidden or effect will break
@mixin parallax-group($height: 100vh) {
  position: relative;
  height: $height;
  transform-style: preserve-3d;
  // debug option reveals all the overlapping
  .debug & {
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
  }
}

// layer is pulled out of flow and forced to fill its parent
@mixin parallax-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective-origin: 100%; // fix webkit overflow bug

  // variants are given different z positions
  // &--fg2 { transform: offsetZ(20px); }
  // &--fg1 { transform: offsetZ(10px); }
  // &--base { transform: offsetZ(0); }
  // &--bg1 { transform: offsetZ(-10px); }
  // &--bg2 { transform: offsetZ(-20px); }
}

