//  _                         _
// | |                       | |
// | | __ _ _   _  ___  _   _| |_
// | |/ _` | | | |/ _ \| | | | __|
// | | (_| | |_| | (_) | |_| | |_
// |_|\__,_|\__, |\___/ \__,_|\__|
//           __/ |
//          |___/

/////////////
// GLOBALS //
/////////////

// layout classes
$l_pre: 'l-' !default;
$l_page-class: 'page' !default;
$l_wrap-class: 'wrap' !default;
$l_sect-class: 'sect' !default;
$l_wrap-align: false !default; // right | left | false

// grid classes
$g_pre: 'g-' !default;
$g_grid-class: 'row' !default;
$g_pad-class: 'pad' !default;
$g_cell-class: 'col' !default;
$g_row-align: left !default; // right | left
$g_use-float: false !default; // true | false

// default values, if $media not present
$l_margin-x: 1rem !default;
$l_margin-y: 1rem !default;
$l_page-top: 1rem !default;
$l_page-right: 1rem !default;
$l_page-bottom: 1rem !default;
$l_page-left: 1rem !default;

/////////////////
// GRID MIXINS //
/////////////////

@mixin row-size($cols) { &::before { content: '#{$cols} .#{$g_pre}#{$g_cell-class}'; } }
// alias
@mixin row-width($args...) { @include row-size($args...); }

@mixin row-set($args...) {
  @extend .#{$g_pre}#{$g_grid-class};
  @if length($args) > 0 { @include row-size($args...); }
}

@mixin col-size($span: 1 1, $right: null, $left: null, $cycle: null, $out: null) {
  @if type-of($span) == 'map' { @include col-size($span...); } @else {

  $n: nth($span, 1); $d: nth($span, 2);
  width: $n / $d * 100%;

  @if $right { margin-right: nth($right, 1) / if(length($right) > 1, nth($right, 2), $d) * 100%; }
  @if $left { margin-left: nth($left, 1) / if(length($left) > 1, nth($left, 2), $d) * 100%; }
  @if $cycle { &:nth-child(#{$cycle}n+1) { clear: left; } }
  @else if $out { position: absolute; #{opposite($out)}: 100%; }

  }
}
// alias
@mixin col-width($args...) { @include col-size($args...); }
@mixin width($args...) { @include col-size($args...); }


@mixin col-set($args...) {
  @extend .#{$g_pre}#{$g_cell-class};
  @if length($args) > 0 { @include col-size($args...); }
}

/////////////////
// SETUP MIXIN //
/////////////////

@mixin parse-layouts($output: true){

  $margin-x: $l_margin-x;
  $margin-y: $l_margin-y;
  $page-top: $l_page-top;
  $page-right: $l_page-right;
  $page-bottom: $l_page-bottom;
  $page-left: $l_page-left;

  @if $output {

    // get dimensions from '$base' if it exists
    @if variable-exists('base') {
      $margin-x: get($base, 'margin-x');
      $margin-y: get($base, 'margin-y');
      $page-top: get($base, 'page-top');
      $page-right: get($base, 'page-right');
      $page-bottom: get($base, 'page-bottom');
      $page-left: get($base, 'page-left');
    }

    // PAGE
    .#{$l_pre}#{$l_page-class}_top { padding-top: $page-top; }
    .#{$l_pre}#{$l_page-class}_right { padding-right: $page-right; }
    .#{$l_pre}#{$l_page-class}_bottom { padding-bottom: $page-bottom; }
    .#{$l_pre}#{$l_page-class}_left { padding-left: $page-left; }
    .#{$l_pre}#{$l_page-class}_x {
      padding-left: $page-left;
      padding-right: $page-right;
    }
    .#{$l_pre}#{$l_page-class}_y {
      padding-top: $page-top;
      padding-bottom: $page-bottom;
    }

    // WRAP
    .#{$l_pre}#{$l_wrap-class},
    [class*="#{$l_pre}#{$l_wrap-class}_"],
    [class*="#{$l_pre}#{$l_wrap-class}--"] {
      @if $g_use-float { @include clearfix(); }
      @if $l_wrap-align != left { margin-left: auto; }
      @if $l_wrap-align != right { margin-right: auto; }
    }
    .#{$l_pre}#{$l_wrap-class}--left { @extend .#{$l_pre}#{$l_wrap-class}; margin-left: 0; }
    .#{$l_pre}#{$l_wrap-class}--right { @extend .#{$l_pre}#{$l_wrap-class}; margin-right: 0; }

    // SECT
    .#{$l_pre}#{$l_sect-class} {
      padding-top: $margin-y / 2;
      padding-bottom: $margin-y / 2;
    }

    // G-ROW
    .#{$g_pre}#{$g_grid-class} {
      &:before { display: none; }
      width: calc(100% + #{$margin-x}); // necessary?
      position: relative; // avoidable?
      margin-left: $margin-x / -2;
      margin-right: $margin-x / -2;
      @if $g_use-float {
        @include clearfix();
      } @else {
        font-size: 0rem;
        & > * { font-size: 1rem; }
      }
    }
    // G-PAD / COL
    .#{$g_pre}#{$g_pad-class},
    .#{$g_pre}#{$g_cell-class} {
      padding-left: $margin-x / 2;
      padding-right: $margin-x / 2;
    }

    // G-COL
    .#{$g_pre}#{$g_cell-class} {
      width: 100%;
      min-height: 1px; // http://css-tricks.com/make-sure-columns-dont-collapse-horizontally/
      @if $g_use-float {
        display: block;
        float: $g_row-align;
      } @else {
        display: inline-block;
        text-align: $g_row-align;
        vertical-align: top;
      }
    }

    @if variable-exists('media') {

      @each $alias, $medium in $media {
        $margin-x: get($medium, 'margin-x');
        $margin-y: get($medium, 'margin-y');
        $page-top: get($medium, 'page-top');
        $page-right: get($medium, 'page-right');
        $page-bottom: get($medium, 'page-bottom');
        $page-left: get($medium, 'page-left');

        @include medium($alias) {

          $orig: medium-orig();

          // PAGE
          .#{$l_pre}#{$l_page-class}_top { @if map-has-key($orig, 'page-top') { padding-top: $page-top; } }
          .#{$l_pre}#{$l_page-class}_right { @if map-has-key($orig, 'page-right') { padding-right: $page-right; } }
          .#{$l_pre}#{$l_page-class}_bottom { @if map-has-key($orig, 'page-bottom') { padding-bottom: $page-bottom; } }
          .#{$l_pre}#{$l_page-class}_left { @if map-has-key($orig, 'page-left') { padding-left: $page-left; } }
          .#{$l_pre}#{$l_page-class}_x {
            @if map-has-key($orig, 'page-left') { padding-left: $page-left; }
            @if map-has-key($orig, 'page-right') { padding-right: $page-right; }
          }
          .#{$l_pre}#{$l_page-class}_y {
            @if map-has-key($orig, 'page-top') { padding-top: $page-top; }
            @if map-has-key($orig, 'page-bottom') { padding-bottom: $page-bottom; }
          }

          // SECT
          @if map-has-key($orig, 'margin-y') {
            .#{$l_pre}#{$l_sect-class} {
              padding-top: $margin-y / 2;
              padding-bottom: $margin-y / 2;
            }
          }

          // WRAP
          $media-keys: map-keys($media);
          $wrap_to: (); $wrap_to_string: '_until--';
          $wrap_fr: (); $wrap_fr_string: '_from--';
          @each $alias in slice($media-keys, 1, index($media-keys, $alias)) {
            $wrap_fr: append($wrap_fr, unquote('.#{$l_pre}#{$l_wrap-class}#{$wrap_fr_string}#{$alias}'), 'comma'); }
          @each $alias in slice($media-keys, index($media-keys, $alias), length($media-keys)) {
            $wrap_to: append($wrap_to, unquote('.#{$l_pre}#{$l_wrap-class}#{$wrap_to_string}#{$alias}'), 'comma'); }
          .#{$l_pre}#{$l_wrap-class}_each,
          .#{$l_pre}#{$l_wrap-class}--#{$alias},
          #{$wrap_fr}, #{$wrap_to} {
            max-width: medium-value('content-width');
          }

          // GRID, CELL
          @if map-has-key($orig, 'margin-x') {
            .#{$g_pre}#{$g_grid-class} {
              width: calc(100% + #{$margin-x}); // necessary?
              margin-left: $margin-x / -2;
              margin-right: $margin-x / -2;
            }
            // G-PAD
            .#{$g_pre}#{$g_pad-class},
            .#{$g_pre}#{$g_cell-class} {
              padding-left: $margin-x / 2;
              padding-right: $margin-x / 2;
            }
          }
        }
      }
    }
  }

}
