//                     _ _                    _   _ _
//                    | (_)                  | | (_) |
//  _ __ ___   ___  __| |_  __ _ ______ _   _| |_ _| |
// | '_ ` _ \ / _ \/ _` | |/ _` |______| | | | __| | |
// | | | | | |  __/ (_| | | (_| |      | |_| | |_| | |
// |_| |_| |_|\___|\__,_|_|\__,_|       \__,_|\__|_|_|

/////////////
// GLOBALS //
/////////////

$current-medium-alias: null;

///////////////
// FUNCTIONS //
///////////////

@function medium-value($key, $alias: $current-medium-alias) { @return map-get(medium($alias), $key); }
@function media-value($args...) { @return medium-value($args...); } // alias
@function m-value($args...) { @return medium-value($args...); } // alias

@function margin-x($index: 0, $basis: 10) {
  @if not unitless($index) { @return $index; }
  $factor: medium-value('margin-x-mod'); $spread: ceil($basis/6);
  @return pow($factor, $index/$spread) * medium-value('margin-x');
}

@function margin-y($index: 0, $basis: 10) {
  @if not unitless($index) { @return $index; }
  $factor: medium-value('margin-y-mod'); $spread: ceil($basis/6);
  @return pow($factor, $index/$spread) * medium-value('margin-y');
}

@function size($index: 0, $basis: 10) {
  @if not unitless($index) { @return $index; }
  $factor: medium-value('font-size-mod'); $spread: ceil($basis/6);
  @return pow($factor, $index/$spread) * 1rem;
}

///////////////
// FUNCTIONS //
///////////////

// [width] medium string function
@function medium-string($alias1: null, $alias2: null) {
  @return 'screen'
    + if($alias1, ' and (min-width: #{get($media, $alias1, breakpoint)})', '')
    + if($alias2, ' and (max-width: #{get($media, $alias2, breakpoint) - 0.001})', '');
}
// alias
@function m-string($args...) { @return medium-string($args...); }

// retrieve current width medium object
@function medium($alias: $current-medium-alias) {
  @if $alias { @return map-get($media, $alias); }
  @return $base;
}
// alias
@function m($args...) { @return medium($args...); }

// function to retrieve current medium-data-object based on $current-medium-alias
@function medium-orig($alias: $current-medium-alias) {
  @if $alias { @return map-get($media-orig, $alias); }
  @return $base-orig;
}
// alias
@function m-orig($args...) { @return medium-orig($args...); }

////////////
// MIXINS //
////////////

// mixin to output width media medium
@mixin medium($aliases...) {

  // save the medium
  $prev-medium-alias: $current-medium-alias;

  // get the current alias or at least the previous one if in max-width medium
  @if length($aliases) > 0 {
    $current-medium-alias: nth($aliases, 1) or map-prev-key($media, nth($aliases, 2));
  }

  // run the content in medium
  @media #{medium-string($aliases...)} { @content }

  // reset the medium (no nesting; could just reset to null)
  $current-medium-alias: $prev-medium-alias;
}
// alias
@mixin media($args...) { @include medium($args...) { @content; } }
@mixin m($args...) { @include medium($args...) { @content; } }

// default hd ratio
$medium-hd-ratio: (3,2);

// hd media query
@mixin hidpi($aliases...) {

  $n: nth($medium-hd-ratio, 1);
  $d: nth($medium-hd-ratio, 2);
  $ratio: $n/$d;

  // save the medium
  $prev-medium-alias: $current-medium-alias;

  // get the current alias or at least the previous one if in max-width medium
  @if length($aliases) > 0 {
    $current-medium-alias: nth($aliases, 1) or map-prev-key($media, nth($aliases, 2));
  }

  // run the content in medium
  @media screen and
    (-webkit-min-device-pixel-ratio: $ratio),
    (min--moz-device-pixel-ratio: $ratio),
    (-o-min-device-pixel-ratio: #{$n}/#{$d}),
    (min-device-pixel-ratio: $ratio),
    (min-resolution: $ratio * 96dpi),
    (min-resolution: $ratio * 1dppx) {
    @content;
  }

  // reset the medium (no nesting; could just reset to null)
  $current-medium-alias: $prev-medium-alias;
}
// alias
@mixin hd($args...) { @include hidpi($args...) { @content; } }

// multi width medium -- combines both medium-each() and medium-for()
@mixin each-medium($options:()) {

  // get 'from', 'to' and 'for'
  $from: get($options, 'from');
  $to: get($options, 'to');
  $for: get($options, 'for');

  // correct 'for' options
  @if $for {
    @if contains($for, typo) { $for: join($for, margin-y line-height font-size-mod); }
    @if contains($for, margin-y) { $for: join($for, margin-y-mod); }
    // @if contains($for, font-size) { $for: join($for, font-size-mod); }
    @if contains($for, margin-x) { $for: join($for, margin-x-mod); }
  }

  // output the @content raw, if $from is null
  @if $from == null { @content; }

  // determine other referenced media
  $medium-aliases: map-keys($media);
  $sliced-aliases: slice($medium-aliases,
      if($from, index($medium-aliases, $from), 1),
      if($to, index($medium-aliases, $to) - 1, length($medium-aliases)));

  // conditional per-medium actions
  @each $medium-alias in $sliced-aliases {
    $orig-keys: map-keys(medium-orig($medium-alias));
    @if not $for { @include medium($medium-alias) { @content; } }
    @else if contains-any($orig-keys, $for) {
      @include medium($medium-alias) { @content; }
    }
  }
}
// alias
@mixin all-media($args...) { @include each-medium($args...) { @content; } }
