//  _                                           _
// | |                                         | |
// | |_ _   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _
// | __| | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
// | |_| |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |
//  \__|\__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, |
//       __/ | |           __/ |         | |           __/ |
//      |___/|_|          |___/          |_|          |___/

/////////////
// GLOBALS //
/////////////

$t_current-size: null !default;
$t_current-height: null !default;
$t_min-height: 1.125 !default;
$t_line-div: 2 !default;

$t_pre: 't-' !default;
$t_single-class: 'single' !default;
$t_block-class: 'block' !default;
$t_container-class: 'contain' !default;

// required for trimming
.#{$t_pre}#{$t_container-class} { min-height: 1px; }

///////////
// MIXIN //
///////////

@mixin typo($size: 0, $line-height: auto, $margin: 0, $char-height: 1){
  $size: if(unitless($size), size($size), if(unit($size) == 'px', rem($size), $size));
  @if $line-height == 'auto' {
    $line-div: $t_line-div or ceil($size);
    $rel-height: medium-value('line-height') / strip($size);
    $line-height: $rel-height * ceil($t_min-height / $rel-height * $t_line-div) / $t_line-div;
  }

  font-size: $size;
  line-height: $line-height;
  margin-top: 0;
  margin-bottom: 0;

  $t_current-size: $size !global;
  $t_current-height: $line-height !global;

  &.#{$t_pre}#{$t_single-class} {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
  &.#{$t_pre}#{$t_block-class} {
    margin-top: t-margin(0rem, $line-height, $char-height);
    margin-bottom: t-margin(0rem, $line-height, $char-height);
  }
  .#{$t_pre}#{$t_container-class} & {
    @content;
    margin-top: margin($margin);
    margin-bottom: t-margin(0rem, $line-height, $char-height);
    &:first-child, &.first {
      margin-top: t-margin(0rem, $line-height, $char-height);
    }
  }

  $t_current-size: null !global;
  $t_current-height: null !global;
}

// alias
@mixin t($args...) { @include typo($args...) { @content; } }

///////////////
// FUNCTIONS //
///////////////

@function typo-trim($line-height: null, $char-height: 1){
  $line-height: $line-height or $t_current-height or medium-value('line-height');
  @return assert($line-height - $char-height, em) / 2;
}
// alias
@function t-trim($args...) { @return typo-trim($args...); }

@function typo-margin($margin, $line-height: null, $char-height: 1){
  $margin: if(unitless($margin), margin-y($margin), $margin);
  @if strip($margin) == 0 { @return - typo-trim($line-height, $char-height); }
  @return calc(#{$margin} - #{typo-trim($line-height, $char-height)});
}

// aliases
@function t-margin($args...) { @return typo-margin($args...); }
@function t-margin($args...) { @return typo-margin($args...); }
