//  _                                           _
// | |                                         | |
// | |_ _   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _
// | __| | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
// | |_| |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |
//  \__|\__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, |
//       __/ | |           __/ |         | |           __/ |
//      |___/|_|          |___/          |_|          |___/

/////////////
// GLOBALS //
/////////////

$t_current-size: null !default;
$t_current-height: null !default;
$t_min-height: 1.125 !default;
$t_line-div: 2 !default;

///////////
// MIXIN //
///////////

@mixin typo($size: 0, $height: auto){
  $size: if(unitless($size), size($size), if(unit($size) == 'px', rem($size), $size));
  @if $height == 'auto' {
    $line-div: $t_line-div or ceil($size);
    $rel-height: medium-value('line-height') / strip($size);
    $height: $rel-height * ceil($t_min-height / $rel-height * $t_line-div) / $t_line-div;
    $trim: (1 - $height) / 2;
  }
  $t_current-size: $size !global;
  $t_current-height: $height !global;
  font-size: $size;
  line-height: $height;
  @content;
  $t_current-size: null !global;
  $t_current-height: null !global;
}

// alias
@mixin t($args...) { @include typo($args...) { @content; } }

///////////////
// FUNCTIONS //
///////////////

@function typo-margin($margin, $line-height: null){
  $margin: if(unitless($margin), margin-y($margin), $margin);
  $line-height: $line-height or $t_current-height or medium-value('line-height');
  @return calc(#{$margin} - #{($line-height - 1em)/2});
}

// aliases
@function t-margin($args...) { @return typo-margin($args...); }
@function margin-t($args...) { @return typo-margin($args...); }
