/* ==========================================================================
   usage
   ========================================================================== */
.wrap {
  max-width: 50%;
  margin: 0 auto;
  background-color: pink; }

.row {
  font-size: 0;
  text-align: left; }

.block {
  display: inline-block;
  font-size: 1rem;
  background-color: lightblue;
  width: 33.3333333333%; }
