@mixin width($span: 1 1, $options: ()) {
  @include width-helper(map-merge((span: $span), $options)...);
}

@mixin width-helper($span: 1 1, $right: null, $left: null, $cycle: null, $out: null) {

  $n: nth($span, 1); $d: nth($span, 2);
  width: $n / $d * 100%;

  @if $right { margin-right: nth($right, 1) / if(length($right) > 1, nth($right, 2), $d) * 100%; }
  @if $left { margin-left: nth($left, 1) / if(length($left) > 1, nth($left, 2), $d) * 100%; }
  @if $cycle { &:nth-child(#{$cycle}n+1) { clear: left; } }
  @else if $out { position: absolute; #{opposite($out)}: 100%; }
}

/* ==========================================================================
   usage
   ========================================================================== */

.wrap {
  max-width: 50%;
  margin: 0 auto;
  background-color: pink;
}

.row {
  font-size: 0;
  text-align: left;
}
.block {
  display: inline-block;
  font-size: 1rem;
  background-color: lightblue;
  @include width(1 3);
}


