dl {
  list-style-type: none;
  counter-reset: ub68dalro; }
  dl > dd {
    counter-increment: ub68dalro; }
    dl > dd:before {
      content: ">> " counter(ub68dalro) ""; }

.list2 li {
  counter-increment: ub68dalrv;
  counter-reset: ub68dalrv; }
  .list2 li:before {
    content: "hello" counter(ub68dalrv) "world"; }

ol.posts {
  list-style-type: none;
  counter-reset: ub68dalrw; }
  ol.posts > .post {
    counter-increment: ub68dalrw; }
    ol.posts > .post:before {
      content: "No. " counter(ub68dalrw) ""; }

.test {
  font-size: 0rem;
  text-align: center; }
  .test:before, .test:after, .test > * {
    display: inline-block;
    vertical-align: middle; }
  .test:before {
    content: '';
    height: 100%; }
  .test > * {
    font-size: 1rem;
    max-width: 100%; }
  ul + .test, li + .test {
    color: blue; }
  .test > ul, .test > li {
    color: blue; }
