@import '../../dist/ln-resets/all';
@import '../../dist/ln-util/all';

@include reset-ln();

/*

scheme for proof of concept

- set html font-size to (100vw - 20px)/100
- set body padding to 10px all directions
- use rem wherever you would use vw

*/

// variables extracted for page
$page-right: 80px;
$page-left: 200px;
$page-inset: calc(#{$page-right} + #{$page-left});
$page-offset: calc(#{$page-right} - #{$page-left});

// html inset for testing
$html-inset: 32px;
html {
    font-size: calc((100vw - #{$html-inset * 2})/100);
    padding: $html-inset;
}

// body styles to visualize page-right/-left
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    border-right: $page-right solid transparentize(lightblue,0.5);
    border-left: $page-left solid transparentize(lightblue,0.5);
}

// standard wrap style
.wrap {
    margin-right: auto;
    margin-left: auto;
    &--right { margin-right: 0; }
    &--left { margin-left: 0; }
}

// temp styles for display
div { padding: 1px 0; margin-top: 0.25em; margin-bottom: 0.25em; }
p { margin-top: 0.25em; margin-bottom: 0.25em; }
.line { height: 0; border-bottom: 1px solid black; margin: $html-inset 0 $html-inset*2; }


////////////////////////////
// UNWRAP STANDARD / PAGE //
////////////////////////////

.unwrap {

    // defaults
    margin-right: 0;
    margin-left: 0;

    // vars
    $u-full-width: calc-sub(100rem, #{$page-inset});
    $u-margin: calc-sub(100%, $u-full-width);
    $u-half-width: calc-sub($u-full-width, calc-div($u-margin, -2));

    // child of .wrap
    width: $u-full-width;
    &--right, &--left { width: $u-half-width; }
    &, &--left { margin-left: calc-div($u-margin, 2); }
    &, &--right { margin-right: calc-div($u-margin, 2); }

    // child of .wrap--right
    .wrap--right > & {
        &, &--right, &--left { margin-right: 0; }
        &--right { width: 100%; }
        &, &--left {
            width: $u-full-width;
            margin-left: $u-margin;
        }
    }

    // child of .wrap--left
    .wrap--left > & {
        &, &--right, &--left { margin-left: 0; }
        &, &--right {
            width: $u-full-width;
            margin-right: $u-margin;
        }
        &--left { width: 100%; }
    }
}

////////////////////////////
// UNWRAP FULL / VIEWPORT //
////////////////////////////

.unwrap--full {

    // vars
    $u-full-width: 100rem;
    $u-margin: calc-sub(100%, $u-full-width);
    $u-margin-right: calc-sub($u-margin, $page-offset);
    $u-margin-left: calc-add($u-margin, $page-offset);
    $u-right-width: calc-add($u-full-width, calc-div($u-margin-left, 2));
    $u-left-width: calc-add($u-full-width, calc-div($u-margin-right, 2));

    width: $u-full-width;
    &--right { width: $u-right-width;}
    &--left { width: $u-left-width;}
    &, &--right { margin-right: calc-div($u-margin-right, 2); }
    &, &--left { margin-left: calc-div($u-margin-left, 2); }

    .wrap--left > & { // good
        margin-left: - $page-left;
        margin-right: calc(100% - (100rem - #{$page-left}));
        margin-right: calc-add($u-margin, $page-left);
        &--right {
            width: calc-sub($u-full-width, $page-left);
            margin-left: 0;
            margin-right: calc(100% - (100rem - #{$page-left}));
        }
        &--left {
            width: calc-add(100%, $page-left);
            margin-left: - $page-left;
        }
    }
    .wrap--right > & { // good
        margin-right: - $page-right;
        margin-left: calc(100% - (100rem - #{$page-right}));
    }
}

// .unwrap--full-right {
//     width: calc((100rem + 100% + #{$page-offset})/2);
//     margin-right: calc((100% - 100rem - #{$page-offset})/2);
//     margin-left: 0;
//     .wrap--left & {
//         width: calc(100rem - #{$page-left});
//         // margin-right: calc(100% - 100rem - #{$page-offset});
//         margin-right: calc((100% - 100rem) + #{$page-left});
//     }
//     .wrap--right > & { // good
//         width: calc(100% + #{$page-right});
//         margin-right: - $page-right;
//     }
// }

// .unwrap--full-left {
//     width: calc((100rem + 100% - #{$page-offset})/2);
//     margin-right: 0;
//     margin-left: calc((100% - 100rem + #{$page-offset})/2);
//     .wrap--right & {
//         width: calc(100rem - #{$page-right});;
//         margin-left: calc((100% - 100rem) + #{$page-right});
//     }
//     .wrap--left > & { // good
//         width: calc(100% + #{$page-left});
//         margin-left: - $page-left;
//     }
// }

// TESTING STYLES

.pink {
    max-width: 30rem;
    background-color: pink;
}
.shaded {
//    min-height: 100px;
    background-color: rgba(50,50,50,0.75);
    color: whitesmoke;
}