@import '../../dist/ln-resets/all';
@import '../../dist/ln-util/all';

@include reset-ln();

// variables extracted for page
$page-right: 80px;
$page-left: 200px;
$page-inset: calc(#{$page-right} + #{$page-left});
$page-offset: calc(#{$page-right} - #{$page-left});

// html inset for testing
$html-inset: 32px;
html {
  font-size: calc((100vw - #{$html-inset * 2})/100);
  padding: $html-inset;
}

// body styles to visualize page-right/-left
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  border-right: $page-right solid transparentize(lightblue,0.5);
  border-left: $page-left solid transparentize(lightblue,0.5);
}

// standard wrap style
.wrap {
  margin-right: auto;
  margin-left: auto;
  &--right { @extend .wrap; margin-right: 0; }
  &--left { @extend .wrap; margin-left: 0; }
}

// temp / test styles
div { padding: 1px 0; margin-top: 0.25em; margin-bottom: 0.25em; }
p { margin-top: 0.25em; margin-bottom: 0.25em; }
.line { height: 0; border-bottom: 1px solid black; margin: $html-inset 0 $html-inset*2; }
.pink { max-width: 30rem; background-color: pink; }
.shaded { background-color: rgba(50,50,50,0.75); color: whitesmoke; }

/*

Classes

.unwrap
.unwrap--right
.unwrap--left
.unwrap--full
.unwrap--full--right
.unwrap--full--left

*/

////////////////////////////
// UNWRAP STANDARD / PAGE //
////////////////////////////

.unwrap {

  // defaults
  margin-right: 0;
  margin-left: 0;

  // vars
  $unwrap-width: calc-sub(100rem, #{$page-inset});
  $unwrap-margin: calc-sub(100%, $unwrap-width);
  $unwrap-margin-oneside: calc-div($unwrap-margin, 2);
  $unwrap-width-oneside: calc-add($unwrap-width, $unwrap-margin-oneside);

  // child of .wrap
  width: $unwrap-width;
  &--right, &--left { width: $unwrap-width-oneside; }
  &, &--left { margin-left: $unwrap-margin-oneside; }
  &, &--right { margin-right: $unwrap-margin-oneside; }

  // child of .wrap--right
  .wrap--right > & {
    &, &--right, &--left { margin-right: 0; }
    &--right { width: 100%; }
    &, &--left { width: $unwrap-width; margin-left: $unwrap-margin; }
  }

  // child of .wrap--left
  .wrap--left > & {
    &, &--right, &--left { margin-left: 0; }
    &, &--right { width: $unwrap-width; margin-right: $unwrap-margin; }
    &--left { width: 100%; }
  }
}

////////////////////////////
// UNWRAP FULL / VIEWPORT //
////////////////////////////

.unwrap--full {

  // vars
  $unwrap-full-width: 100rem;
  $u-margin: calc-sub(100%, $unwrap-full-width);
  $u-margin-right: calc-sub($u-margin, $page-offset);
  $u-margin-left: calc-add($u-margin, $page-offset);
  $u-right-width: calc-add($unwrap-full-width, calc-div($u-margin-left, 2));
  $u-left-width: calc-add($unwrap-full-width, calc-div($u-margin-right, 2));

  width: $unwrap-full-width;

  &--right { width: $u-right-width;}
  &--left { width: $u-left-width;}
  &, &--right { margin-right: calc-div($u-margin-right, 2); }
  &, &--left { margin-left: calc-div($u-margin-left, 2); }

  .wrap--left > & {
    margin-right: calc-add($u-margin, $page-left);
    margin-left: - $page-left;
    &--right {
      width: calc-sub($unwrap-full-width, $page-left);
      margin-right: calc-add($u-margin, $page-left);
      margin-left: 0;
    }
    &--left {
      width: calc-add(100%, $page-left);
      margin-right: 0;
      margin-left: - $page-left;
    }
  }
  .wrap--right > & {
    margin-right: - $page-right;
    margin-left: calc-add($u-margin, $page-right);
    &--right {
      width: calc-add(100%, $page-right);
      margin-right: - $page-right;
      margin-left: 0;
    }
    &--left {
      width: calc-sub($unwrap-full-width, $page-right);
      margin-left: calc-add($u-margin, $page-right);
      margin-right: 0;
    }
  }
}
