///////////
// stack //
///////////

@mixin stack($m: $curr-mult-y-key, $s: $curr-size-key, $l: $curr-line-key, $f: $curr-font-key) {

  $prev-mult-y-key: $curr-mult-y-key;
  $prev-size-key: $curr-size-key;
  $prev-line-key: $curr-line-key;
  $prev-font-key: $curr-font-key;

  $curr-mult-y-key: $m !global;
  $curr-size-key: $s !global;
  $curr-line-key: $l !global;
  $curr-font-key: $f !global;

  $curr-stack-sel: & !global;

  // stack styles
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  // & > * { margin-top: 0; margin-bottom: 0; }
  & > * + * { margin-top: margin-y($m); }

  // content
  @content;

  $curr-stack-sel: null !global;

  $curr-mult-y-key: $prev-mult-y-key !global;
  $curr-size-key: $prev-size-key !global;
  $curr-line-key: $prev-line-key !global;
  $curr-font-key: $prev-font-key !global;
}

