@import '../../index';

// mult, line, opts
@mixin stack($mult: $curr-mult-y-key, $line: $curr-line-key, $font: $curr-font-key) {

  $prev-mult-y-key: $curr-mult-y-key;
  $prev-line-key: $curr-line-key;
  $prev-font-key: $curr-font-key;

  $curr-mult-y-key: $mult !global;
  $curr-line-key: $line !global;
  $curr-font-key: $font !global;
  $curr-stack-sel: & !global;

  padding-top: 0.1px; // prevent margin collapse
  padding-bottom: 0.1px; // ^
  & > * + * { margin-top: margin-y($mult); }

  @content;

  $curr-mult-y-key: $prev-mult-y-key !global;
  $curr-line-key: $prev-line-key !global;
  $curr-font-key: $prev-font-key !global;
  $curr-stack-sel: null !global;
}

@function family($font) { @return get($fonts, $font, 'font-family'); }

// line, font, opts
@mixin trim($line: $curr-line-key, $font: $curr-font-key, $opts: (type: 'ex')) {

  @if type-of($line) == 'map' { $opts: $line; $line: $curr-line-key }
  @if type-of($font) == 'map' { $opts: $font; $font: $curr-font-key }
  $excl: append(map-get($opts, 'excl') or (), '.m-block');
  $type: map-get($opts, 'type');

  @if $line { line-height: line($line); }
  @if $font { font-family: family($font); }

  @if $curr-stack-sel {
    @at-root #{insert-parents(null,'>')} {
      margin-top: trim-to-em(0, $line);
      margin-bottom: trim-to-em(0, $line);
      @include adjacent-to(not-selector('*', $excl...)) { margin-top: trim-to-em(null, $line, $type); }
      @content;
    }
  } @else {
    @at-root #{insert-parents(base-class('m-stack'), '>')} {
      margin-top: trim-to-em(0, $line);
      margin-bottom: trim-to-em(0, $line);
    }
    $mults: medium-value('mults-y') or medium-value('mults');
    @each $m, $mult in map-merge((base: 1), $mults) {
      @at-root #{insert-parents(mult-class('m-stack', $m),'>')} {
        @include adjacent-to(not-selector('*', $excl...)) { margin-top: trim-to-em(if($m=='base',1,$m), $line, $type); }
        @content;
      }
    }
  }
}

@mixin typo-adjacent($sels) {

  @if $curr-stack-sel {
    @at-root #{insert-parents(base-class('m-stack'), '>')} {
      @include adjacent-to($sels) { @content; }
    }
  } @else {
    $mults: medium-value('mults-y') or medium-value('mults');
    @each $m, $mult in map-merge((base: 1), $mults) {
      @at-root #{insert-parents(mult-class('m-stack', $m),'>')} {
        @include adjacent-to($sels) { @content; }
      }
    }
  }
}
/*
  // API of stack / typo

  // mult, line, font
  @include stack(2, 1.1, null) {

    // line, font, trim
    @include typo(null, mono, 'em') {

      // mult, line, font, trim
      @include adjacent-to(h3 h4) { margin-top: typo-margin(3, null, null, 'ex'); }
    }
    @include typo(null, mono, 'em') {
      @include adjacent-to(h3 h4) { }
    }
  }

 */
.content--mini {

  @include stack(0.8) {
    h4, h5, h6 {
      font-size: 0.9em;
      @include trim(0.9, 'mono', (type: 'mx'));
    }
  }
}

.content--large {

  @include stack(1.4) {
    p, ul, ol {
      font-size: 1.2em;
      @include trim(1.1, (type: 'em')) {
        // @include adjacent-to(h2 h3) { @include trim-margin(2, null, null, 'em'); }
      }
    }
    // ol { @include trim-adjacent(); }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  @include trim(null, null, (type: 'em'));
  // @include trim-adjacent(h2 h4, 2, null. 'em');
  // @include trim((type: 'em'));
  // trim-to
  // not-for
  // line-height

  // trim-adjacent(h2 h3 h4, 1.5, mono) {}
}

h2 {
}

p, ul, ol, dl {
  // @include trim((exclude: div pre, line-height: 1.5));
  // @include trim-adjacent(h5) { margin-top: trim-to-em(); }
}