@mixin init-stack {

  ///////////
  // stack //
  ///////////

  .stack, #{baseify('stack')} {
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    & > * { margin-top: 0; margin-bottom: 0; }
  }

  @include media-for('margin-y') {

    $mults: medium-value('mults-y') or medium-value('mults');

    @each $m, $mult in map-merge((base: 1), $mults) {
      .stack#{multify($m)} { & > * + * { margin-top: $mult * medium-value('margin-y'); } }
    }
  }
}
