@mixin init-grid {

  //////////
  // grid //
  //////////

  .grid, #{baseify('grid')} { @include grid(false); }
  .igrid, #{baseify('igrid')} { @include igrid(false); }
  .fgrid, #{baseify('fgrid')} { @include fgrid(false); }

  .grid--null, .fgrid--null, .igrid--null {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    & > * {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @include media-for('margin-x') {

    $mults: medium-value('mults-x') or medium-value('mults');
    @each $m, $mult in map-merge((base: 1), $mults) {

      $margin: $mult * medium-value('margin-x');
      .grid#{multify($m)}, .fgrid#{multify($m)}, .igrid#{multify($m)} {
        margin-left: $margin / -2;
        margin-right: $margin / -2;
        width: calc(100% + #{$margin});
        & > * {
          padding-left: $margin / 2;
          padding-right: $margin / 2;
        }
      }
    }
  }
}
