///////////
// outer //
///////////

@mixin init-outer {

  .outer, #{baseify('outer')} { @include clip; }

  @include media-for('outer') {

    .outer, .outer--right { padding-right: medium-value('outer-right'); }
    .outer, .outer--left { padding-left: medium-value('outer-left'); }
  }

  @include media-for('outer-y') {

    .outer-y, .outer--top { padding-top: medium-value('outer-top'); }
    .outer-y, .outer--bottom { padding-bottom: medium-value('outer-bottom'); }
  }
}
