////////////
// unwrap //
////////////

@mixin init-unwrap {

  .unwrap {
      margin-right: 0;
      margin-left: 0;
      max-width: none;
      width: 100vw;
  }

  @include media((for: outer-right outer-left)) {

    $outer-right: medium-value('outer-right');
    $outer-left: medium-value('outer-left');

    $wrap-offset: sub-calc($outer-right, $outer-left);
    $unwrap-margin: sub-calc(100%, 100vw);
    $unwrap-margin-right: div-calc(sub-calc($unwrap-margin, $wrap-offset), 2);
    $unwrap-margin-left: div-calc(add-calc($unwrap-margin, $wrap-offset), 2);

    .unwrap {
      &--right { width: add-calc(100vw, $unwrap-margin-left);}
      &--left { width: add-calc(100vw, $unwrap-margin-right);}
      &, &--right { margin-right: $unwrap-margin-right; }
      &, &--left { margin-left: $unwrap-margin-left; }
    }

    .unwrap--from-right {
      &, &.unwrap--right { margin-right: - $outer-right;}
      &, &.unwrap--left { margin-left: add-calc($unwrap-margin, $outer-right); }
      &.unwrap--right {
        width: add-calc(100%, $outer-right);
        margin-left: 0;
      }
      &.unwrap--left {
        width: sub-calc(100vw, $outer-right);
        margin-right: 0;
      }
    }

    .unwrap--from-left {
      &, &.unwrap--right { margin-right: add-calc($unwrap-margin, $outer-left); }
      &, &.unwrap--left { margin-left: - $outer-left; }
      &.unwrap--right {
        width: sub-calc(100vw, $outer-left);
        margin-left: 0;
      }
      &.unwrap--left {
        width: add-calc(100%, $outer-left);
        margin-right: 0;
      }
    }
  }
}
