///////////
// outer //
///////////

@mixin setup-outer {

  .outer--y { @extend .outer--top, .outer--bottom, %clip; }
  .outer { @extend .outer--right, .outer--left, %clip; }

  @include media((for: outer-top outer-bottom)) {

    $outer-top: medium-value('outer-top');
    $outer-bottom: medium-value('outer-bottom');

    .outer--top { padding-top: $outer-top; }
    .outer--bottom { padding-bottom: $outer-bottom; }
  }

  @include media((for: outer-right outer-left)) {

    $outer-right: medium-value('outer-right');
    $outer-left: medium-value('outer-left');

    .outer--right { padding-right: $outer-right; }
    .outer--left { padding-left: $outer-left; }
  }
}
