// get last parents in & list(s)
@function selector-last($parents: &) {
  $out: ();
  @each $list in & {
    $last: nth($list, length($list));
    @if not index($out, $last) {
      $out: append($out, $last, 'comma');
    }
  }
  @return $out;
}

// get initial parents in & list(s)
@function selector-initial($parents: &) {
  $out: ();
  @each $list in & {
    $initial: slice($list, 1,  length($list) - 1);
    @if not index($out, $initial) {
      $out: append($out, $initial, 'comma');
    }
  }
  @return $out;
}

.foo, .bar {
  .baz, .bif {
    // parent: &;
    // parse: inspect(selector-parse(&));
    // last: selector-last(&);
  }
}