// LAYOUT GLOBALS

$layout-alignment: null !default;

$layout-classes: (
  page: 'page',
  wrap: 'wrap',
  grid: 'grid',
  cell: 'cell'
) !default;

$grid-alignment: left;
$grid-is-float: false;

$layout-mixins: ();


// LAYOUT INITS

@mixin layout-init() {

  @include page-init();
  @include grid-init();

}
