// LAYOUT GRID INIT

@mixin grid-init() {

  // merge defaults
  $base: map-merge(( margin-x: 1rem, ), if(variable-exists('base'), $base, ()));

  // get values and classes
  // $margin-x: map-get($base, 'margin-x');
  $margin-x: margin-x();
  $grid: map-get($layout-classes, 'grid');
  $cell: map-get($layout-classes, 'cell');

  // grid
  // [class*="#{$grid}--"] { @extend .#{$grid}; }
  .#{$grid} {
    &:before { display: none; } // in case of salvattore
    width: calc(100% + #{$margin-x}); // necessary?
    margin-left: $margin-x / -2;
    margin-right: $margin-x / -2;
    @if $grid-is-float {
      @include clearfix();
    } @else {
      font-size: 0rem;
      & > * { font-size: 1rem; }
      text-align: $grid-alignment;
    }
  }

  // cell
  // [class*="#{$cell}--"] { @extend .#{$cell}; }
  .#{$cell} {
    min-height: 1px; // http://css-tricks.com/make-sure-columns-dont-collapse-horizontally/
    padding-left: $margin-x / 2;
    padding-right: $margin-x / 2;
    @if $grid-is-float {
      display: block;
      float: $grid-alignment;
    } @else {
      width: 100%;
      display: inline-block;
      vertical-align: top;
    }
  }

  @if variable-exists('media') {

    @each $alias, $medium in $media {

      @if map-has-key(medium-orig($alias), 'margin-x') {

        @include medium($alias) {

          // $margin-x: map-get($medium, 'margin-x');
          // $margin-x: medium-value('margin-x');
          $margin-x: margin-x();

          // grid
          .#{$grid} {
            width: calc(100% + #{$margin-x}); // necessary?
            margin-left: $margin-x / -2;
            margin-right: $margin-x / -2;
          }

          // cell
          .#{$cell} {
            padding-left: $margin-x / 2;
            padding-right: $margin-x / 2;
          }
        }
      }
    }
  }
}
