/* test: scss-media-init */

@import '../../dist/ln-util/all';
@import '../../dist/ln-media/all';

$media: map-merge($media, (
  delta: (
    breakpoint: 30em,
    font-size: 40px
  )
));

$base: (
  font-size: 1,
  line-height: 1,
  page-left: 40px,

);

@include setup-media();

/* $keys: #{map-keys($media)}; */
/* $base: #{map-inspect($base)}; */
/* $media: #{map-inspect($media)}; */
