// LAYOUT GLOBALS

$layout-alignment: null !default;

$layout-classes: (
  page: 'page',
  wrap: 'wrap',
  sect: 'sect',
) !default;

$grid-alignment: left;

$grid-is-float: false;

$grid-classes: (
  row: 'row',
  pad: 'pad',
  col: 'col'
);

// LAYOUT INITS

@mixin layout-init() {

  @include layout-page-init();
  @include layout-grid-init();

}
