@import '../sass-ln';

$tn_ln: (
  'background': hsy(0,0,0),
  'current_line': hsy(0,0,0),
  'selection': hsy(0,0,0),
  'foreground': hsy(0,0,0),
  'comment': hsy(0,0,0),
  'red': hsy(0,0,0),
  'orange': hsy(0,0,0),
  'yellow': hsy(0,0,0),
  'green': hsy(0,0,0),
  'aqua': hsy(0,0,0),
  'blue': hsy(0,0,0),
  'purple': hsy(0,0,0)
);

.tn_ln {
  background: map-get($tn_ln, 'background');
  current_line: map-get($tn_ln, 'current_line');
  selection: map-get($tn_ln, 'selection');
  foreground: map-get($tn_ln, 'foreground');
  comment: map-get($tn_ln, 'comment');
  red: map-get($tn_ln, 'red');
  orange: map-get($tn_ln, 'orange');
  yellow: map-get($tn_ln, 'yellow');
  green: map-get($tn_ln, 'green');
  aqua: map-get($tn_ln, 'aqua');
  blue: map-get($tn_ln, 'blue');
  purple: map-get($tn_ln, 'purple');
}