@import '../sass-ln';

$media: (
  alpha: (breakpoint: 30em),
  beta: (breakpoint: 48em),
  gamma: (
    font-size: 4rem,
    breakpoint: 75em
  )
);

@include parse-media();


/*

media: #{map-inspect($media)}

*/