body::before {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  content: '{ "current" : "default", "all": ["alpha", "beta", "gamma"] }'; }

head {
  font-family: '{ "current" : "default", "all": ["alpha", "beta", "gamma"] }'; }

.util--medium {
  width: 0;
  transition: width 1ms; }

html {
  font-size: 100%; }

body {
  line-height: 1.5;
  padding-top: 1rem;
  padding-bottom: 1rem; }

@media screen and (min-width: 30em) {
  body::before {
    content: '{ "current" : "alpha", "all": ["alpha", "beta", "gamma"] }'; }
  head {
    font-family: '{ "current" : "alpha", "all": ["alpha", "beta", "gamma"] }'; }
  .util--medium {
    width: 1px; } }

@media screen and (min-width: 48em) {
  body::before {
    content: '{ "current" : "beta", "all": ["alpha", "beta", "gamma"] }'; }
  head {
    font-family: '{ "current" : "beta", "all": ["alpha", "beta", "gamma"] }'; }
  .util--medium {
    width: 2px; } }

@media screen and (min-width: 75em) {
  body::before {
    content: '{ "current" : "gamma", "all": ["alpha", "beta", "gamma"] }'; }
  head {
    font-family: '{ "current" : "gamma", "all": ["alpha", "beta", "gamma"] }'; }
  .util--medium {
    width: 3px; }
  html {
    font-size: 400%; } }

/*

media: (
    alpha: (
      font-size: 16px,
      font-size-modulation: 1.5,
      line-height: 1.5,
      margin-x: 1rem,
      margin-x-modulation: 1.5,
      margin-y: 1.5rem,
      margin-y-modulation: 1.5,
      body-top: 1rem,
      body-right: 1rem,
      body-bottom: 1rem,
      body-left: 1rem,
      html-scale: 1,
      breakpoint: 30em,
      device-width: 30rem,
      content-width: 28rem
    ),
    beta: (
      font-size: 16px,
      font-size-modulation: 1.5,
      line-height: 1.5,
      margin-x: 1rem,
      margin-x-modulation: 1.5,
      margin-y: 1.5rem,
      margin-y-modulation: 1.5,
      body-top: 1rem,
      body-right: 1rem,
      body-bottom: 1rem,
      body-left: 1rem,
      html-scale: 1,
      breakpoint: 48em,
      device-width: 48rem,
      content-width: 46rem
    ),
    gamma: (
      font-size: 64px,
      font-size-modulation: 1.5,
      line-height: 1.5,
      margin-x: 1rem,
      margin-x-modulation: 1.5,
      margin-y: 1.5rem,
      margin-y-modulation: 1.5,
      body-top: 1rem,
      body-right: 1rem,
      body-bottom: 1rem,
      body-left: 1rem,
      html-scale: 4,
      breakpoint: 75em,
      device-width: 18.75rem,
      content-width: 16.75rem
    )
  )

*/