@import '../../sass-maps-plus/_sass-maps-plus';
@import '../stylesheets/context';
$media: (
  alpha: (breakpoint: 30em),
  beta: (breakpoint: 48em),
  gamma: (
    font-size: 4rem,
    breakpoint: 75em
  )
);

@include parse-media();


/*

media: #{map-inspect($media)}

*/